.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align cards from left to right */
  gap: 20px; /* Add a gap between the cards */
  padding: 10px;
}

.image-card {
  width: 300px; /* Fixed width for all cards */
  margin: 0; /* Remove margin to prevent additional spacing issues */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.image-card h2 {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: #1a8b1a;
}
